footer(
    class="footer-2"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            table(class="vcard")

                thead

                    tr

                        th(colspan="2" class="org") Kontakt

                tbody

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-address")
                        td(class="street-address") Die Bandstraße 11

                    tr
                        td
                        td(class="locality") Memmingen

                    tr
                        td
                        td(class="postal-code") 87700

                    tr
                        td
                        td(class="country-name") Deutschland

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-phone")
                        td(class="tel"): a(href="tel:0172-123-4567") (+49) 172-123-4567

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-location")
                        td: a(href="#") 48°00'00"S 10°15'88"E

        div

            ul

                li

                    a(href="#")

                        svg(role="img" title="Follow us on Twitter")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-twitter")

                li

                    a(href="#")

                        svg(role="img" title="Like us on Facebook")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-facebook")

                li

                    a(href="#")

                        svg(role="img" title="See our posts on Google Plus")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-google+")

                li

                    a(href="#")

                        svg(role="img" title="View our pins on Pinterest")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-pinterest")

                li

                    a(href="#")

                        svg(role="img" title="Connect with us on LinkedIn")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-linkedin")
