section(class="canvas section-2" id="section-2")

    h2 Die Genres

    div(class="content")

        div

            img(src="images/home/section-2/_inline/Rock.svg" inline)

            article

                h2 Rock
                p.
                    Alita sunt encapsulated in modularized dum re-utilis componentia funcionalidades
                    est, evolutionis et sustentacionem facere facillimus.

        div

            img(src="images/home/section-2/_inline/Metal.svg" inline)

            article

                h2 Metal
                p.
                    De bellis primaria est de cursu. Ledo terram currit et uirtutem robustam, te
                    studiosíssime reténtis ficti videantur innitatur launch consilio ad tribunal a
                    quo.

        div

            img(src="images/home/section-2/_inline/Punk.svg" inline)

            article

                h2 Punk
                p.
                    Id in suggestu tu targeting, hoc non habet aliquid compage tooling ut tabernus
                    in subsidium et infinita puncta media confractus, query in auxilio tuo.

    +nav-1("section-3")
